*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#000;
    font-family: sans-serif;
}

#services{
    color: #fff;
    font-family: masque;
    font-size: 40px;
    text-align: center;
}

#services .container .row{
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.item{
    margin-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    display: -ms-flexbox;
    max-width: 33.33%;
    flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    text-align: center;
}



.box{
    border: 1px solid rgb(37, 36, 36);
    position: relative;
    height: 260px;
}

.box::before{
    content: "";
    position: absolute;
    border-left: 3px solid #2196f3;
    border-top: 3px solid #2196f3;
    top: 0;
    left: 0;
    width: 40px;
    height: 30px;
}

.box::after{
    content: "";
    position: absolute;
    border-right: 3px solid #2196f3;
    border-bottom: 3px solid #2196f3;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 30px;
}

/* .box .inner{
    padding: 30px;
    font-size: large;
} */

.box .inner{
    padding: 30px;
}

.box .inner h3{
    font-size: 1.5rem;
    line-height: 40px;
}

.box .inner p{
    font-size: .9rem;
    line-height: 22px;
    opacity: .8;
}

.box .inner .icon{
    height: 60px;
    width: 60px;
    display: block;
    margin: 0 auto 10px;
    transition: .5s ease;
}