*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#000;
    font-family: sans-serif;
}

#services{
    color: #fff;
    font-family: masque;
    font-size: 40px;
    text-align: center;
}